<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
	<head>
		<script src="js/bundle.js"></script>
	</head>
	<body>
		<div ng-controller="WelcomeCtrl">
			<p>Welcome {{playerId}}</p>
		</div>
		<canvas id="c" width="800" height="600"
						style="border:1px solid #000000;">
		</canvas>
	</body>
</html>
